.App {
  width: max-content;
}

.button-container {
  display: flex;
  width: 95vw;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}

.button {
  padding: 5px;
}